.App {
  text-align: center;
  background-image: url('./background.jpg');
  width: 100%;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  color: white;
  padding-top: 30px;
}

.nav-links {
  display: flex;
  margin-left: auto!important;
  justify-content: space-between;
  list-style: none;
}

.nav-links li {
  margin-right: 32px;
}

.nav-links a{
  color: white;
  text-decoration: none;
}

.main {
  color: white;
}

.name {
  width: 100%;
  color: white;
  text-align: center;
  position: absolute;
  top: 30%;
  font-size: 80px;
  font-family: Candara;
  font-weight: bold;
}

.changeTxt {
  width: 100%;
  position: absolute;
  top: 60%;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .name { position: absolute; top: 20%; font-size: 60px;}
  .changeTxt {
  position: absolute;
  top: 70%;}
}

.logoTxt {
  color: black;
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0px 0px 15px red;
  text-decoration: none;
  position: absolute;
  left: 35px;
}

.logoTxt p {
  position: relative;
  bottom: 15px;
  font-weight: bolder;
  font-size: 20px;
}