.html {
  height: 100%;
}

.App {
  text-align: center;
  background-image: url('./background.jpg');
  width: 100%;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: Candara;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  color: white;
  padding-top: 30px;
}

.nav-links {
  display: flex;
  margin-left: auto;
  justify-content: space-between;
  list-style: none;
}

.nav-links li {
  margin-right: 32px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.main {
  color: white;
}

.name {
  width: 100%;
  color: white;
  text-align: center;
  position: absolute;
  top: 30%;
  font-size: 80px;
  font-weight: bold;
}

#barsBtn {
  display: none;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 35px;
  top: 35px;
  font-size: 30px;
}

#barsBtn:hover {
  border: none;
}

.changeTxt {
  width: 100%;
  position: absolute;
  top: 60%;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .name { position: absolute; top: 30%; font-size: 60px;}
  .changeTxt {
  position: absolute;
  top: 70%;}
  .nav-links a {display: none;}
    #barsBtn {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 650px) {
  .nav-links.responsive {
    position: relative;
    display: block;
    justify-content: unset;
    margin-left: 0;
    margin-left: 0;
    text-align: center;
  }
  #barsBtn{
    margin-left: auto!important;
  }
  .nav-links.responsive a {
    display: block;
    margin-bottom: 15px;
  }
}

.logoTxt {
  color: black;
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0px 0px 15px red;
  text-decoration: none;
  position: absolute;
  left: 35px;
  top: 35px;
}

.logoTxt p {
  position: relative;
  bottom: 15px;
  font-weight: bolder;
  font-size: 20px;
}

.rotate-text {
  color: white;
  height: calc(100% - 101px);
  position: fixed;
  width: auto;
  writing-mode: vertical-rl;
  transform: rotate(180.0deg);
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  padding-right: 32px;
}

@media screen and (max-width: 650px) {
  .rotate-text {
    writing-mode: horizontal-tb;
    transform: rotate(0.0deg);
    /* border-bottom: 1px solid white; */
    text-align: center;
    padding: 4px;
    position: unset;
  }
}

.containerLocal {
  padding-top: 50px;
}

.myPic {
  width: 300px;
  height: auto;
  padding-left: 150px;
  vertical-align: middle;
  float: left;
}

.content {
  color: white;
  padding: 0px 50px 50px 500px;
}

.intro {
  text-align: justify;
  font-size: 18px;
  color: #BBBBBB;
}

.headline {
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-align: left;
}

@media screen and (max-width: 1000px) {
  .myPic {
    float: unset;
    border-radius: 50%;
    align-content: center;
    padding-left: 0;
  }
  .content {
    padding: 80px;
    padding-left: 180px;
  }
}

@media screen and (max-width: 650px) {
  .content {
    padding: 30px;
  }
}

.details {
  border-top: 1px solid #999999;
  padding-top: 20px;
  text-align: left;
}

.ansDet {
  padding-left: 10px;
  color: #BBBBBB;
}

.rows {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.tds {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  padding-bottom: 15px;
}

@media screen and (min-width: 800px) {
  .tds {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 650px) {
  .tds {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.cvBtn {
  border: none;
  color: white;
  background-color: rgb(226, 102, 154);
  padding: 12px;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 10px;
  font-size: 16px;
}

.cvBtn:hover {
  color: #282c34;
  background-color: white;
  transition: all 0.5s ease-in-out;
}