.html {
  height: 100%;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.App {
  text-align: center;
  /* background-image: url('./background.jpg'); */
  width: 100%;
  background-color: #111111;
  min-height: 100vh;
  /* background-attachment: fixed;
  background-position: center;
  background-size: cover; */
  font-family: Candara;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  display: flex;
  justify-content: space-around;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:  100;
}

.no-top {
  background-color: wheat;
}

.homepage, .aboutpage, .resumepage {
  min-height: 90vh;
  margin-top: 10vh;
}

.nav-links {
  display: flex;
  margin-left: auto;
  justify-content: space-between;
  list-style: none;
}

.nav-links li {
  margin-right: 32px;
  font-size: 20px;
  line-height: 10vh;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.main {
  color: white;
}

.page {
  display: block;
}

.aboutpage {
  display: inline-block;
}

.name {
  width: 100%;
  color: white;
  text-align: center;
  position: absolute;
  top: 30%;
  font-size: 80px;
  font-weight: bold;
}

#barsBtn {
  display: none;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 35px;
  top: 35px;
  font-size: 30px;
}

#barsBtn:hover {
  border: none;
}

.changeTxt {
  width: 100%;
  position: absolute;
  top: 60%;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .name { position: absolute; top: 30%; font-size: 60px;}
  .changeTxt {
  position: absolute;
  top: 70%;}
  .nav-links a {display: none;}
    #barsBtn {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 650px) {
  .nav-links.responsive {
    position: relative;
    display: block;
    justify-content: unset;
    margin-left: 0;
    margin-left: 0;
    text-align: center;
  }
  #barsBtn{
    margin-left: auto!important;
  }
  .nav-links.responsive a {
    display: block;
    margin-bottom: 15px;
  }
}

.logoTxt {
  color: black;
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0px 0px 15px #c82f76;
  text-decoration: none;
  position: absolute;
  left: 35px;
  top: 35px;
}

.logoTxt p {
  position: relative;
  bottom: 15px;
  font-weight: bolder;
  font-size: 20px;
}

.rotate-text {
  color: white;
  height: calc(100% - 101px);
  position: fixed;
  width: auto;
  writing-mode: vertical-rl;
  transform: rotate(180.0deg);
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  padding-right: 32px;
}

@media screen and (max-width: 650px) {
  .rotate-text {
    writing-mode: horizontal-tb;
    transform: rotate(0.0deg);
    /* border-bottom: 1px solid white; */
    text-align: center;
    padding: 4px;
    position: unset;
  }
}

.containerLocal {
  padding-top: 50px;
}

.myPicDiv {
  padding-left: 150px;
  vertical-align: middle;
  float: left;
}

.myPic {
  width: 300px;
  height: auto;
}

.content {
  color: white;
  padding: 0px 50px 50px 500px;
}

.intro {
  text-align: justify;
  font-size: 18px;
  color: #BBBBBB;
}

.headline {
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-align: left;
}

.services, .skills {
  padding-left: 150px;
  padding-right: 80px;
  box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
  .myPicDiv {
    float: unset;
    align-content: center;
    padding-left: 0;
  }
  .myPic {
    border-radius: 50%;
  }
  .content, .services, .skills {
    padding: 80px;
    padding-left: 180px;
  }
}

@media screen and (max-width: 650px) {
  .content {
    padding: 30px;
  }
  .skills, .services {
    padding: 30px;
  }
  .singleService {
    margin-right: 30px;
  }
}

.details {
  border-top: 1px solid #999999;
  padding-top: 20px;
  text-align: left;
}

.ansDet {
  padding-left: 10px;
  color: #BBBBBB;
}

.rows {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.singleService {
  background-color: #292821;
  /* box-shadow: 0px 0px 5px #999999; */
  margin: 0px auto 30px;
  padding: 20px;
  text-align: left;
}

.singleService:hover {
  background-color: #2e2d27;
  transform: translateY(-10px);
  transition: all 0.3s ease-in;
  border-bottom: 3px solid rgb(226, 102, 154);
}

.service-icon {
  font-size: 35px;
  color: rgb(226, 102, 154);
  margin: 15px;
}

.service-title {
  font-size: 25px;
  font-weight: bold;
  padding-left: 15px;
}

.service-description {
  font-size: 15px;
  padding-left: 15px;
  color: #BBBBBB;
}

.tds, .singleService, .tds-md-12, .tds-lg-4, .tds-md-6, .tds-sm-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  color: white;
  flex: 1;
}

@media screen and (min-width: 992px) {
  .tds-lg-4 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding-left: 0;
    padding-right: 30px;
  }
}

.pl-150 {
  padding-left: 150px;
}

@media screen and (max-width: 650px) {
  .pl-150 {
    padding-left: 0;
    padding-right: 10px;
  }
}

@media screen and (min-width: 786px) {
  .tds, .tds-md-12 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 992px) {
  .tds-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .tds-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 650px) {
  .tds, .tds-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 786px) {
  .singleService {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .singleService {
    flex: 0 0 30%;
    max-width: 30%;
  }
}

@media screen and (min-width: 786px) and (max-width: 992px) {
  .singleService {
    flex: 0 0 45%;
    max-width: 45%;
  }
}

.res-title {
  text-align: left;
  font-size: 25px;
  margin-top: 30px;
  font-weight: bold;
  display: block;
}

@media screen and (max-width: 650px) {
  .res-title {
    padding-left: 1.5em;
  }
}

.cvBtn {
  border: none;
  color: white;
  background-color: rgb(226, 102, 154);
  padding: 12px;
  cursor: pointer;
  border-radius: 6px;
  margin: auto;
  margin-top: 10px;
  font-size: 16px;
}

.cvBtn:hover {
  color: #282c34;
  background-color: white;
  transition: all 0.5s ease-in-out;
}

/* Style for timeline */

.block-content {
  min-height: 100vh;
}

.block-content p {
  font-size: 1.1em;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  margin: 0 auto 1em auto;
}

.block-content h2 {
  text-align: center;
  margin: 1em 0 0 0;
  font-size: 2.5em;
  line-height: 1;
  letter-spacing: 0.02em;
}
@media all and (min-width: 40em) {
  .block-content h2 {
    font-size: 4.75em;
  }
}

.subtitle {
  font-family: "Merriweather", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  font-size: 1em;
  margin: 0.5em 0;
}

.heading-group {
  margin: 0 0 3em 0;
}

.tContent h3 {
  font-size: 1.2em;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #fff;
}

.tContent h1, h2, h3 {
  font-weight: 900;
}

.tContent p {
  line-height: 1.4;
  color: #ccc;
  text-align: justify;
}

.l-block-spacing {
  min-height: 80vh;
  padding: 2em 0 4em 0;
}

.l-contained {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 0.5em;
  text-align: left;
}

@media all and (max-width: 650px) {
  .l-contained {
    padding-left: 1em;
  }
}
@media all and (min-width: 40em) {
  .l-contained {
    padding-right: 2.5em;
  }
}

.timeline-list {
  padding-bottom: 1em;
  position: relative;
  max-width: 700px;
  margin: 0 auto;
}
.timeline-list:before {
  content: "";
  border-left: 5px solid #CCC;
  left: 1.85em;
  top: 2em;
  height: 100%;
  position: absolute;
  bottom: 0;
  top: 0;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-animation: scaleVertical 1s 1s ease both 1;
          animation: scaleVertical 1s 1s ease both 1;
}
.timeline-list:after {
  content: "";
  clear: both;
  position: absolute;
  bottom: 0px;
  left: 1.38em;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: none repeat scroll 0% 0% #DDD;
  border: 5px solid #DDD;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-animation: revealScaleUp 0.75s 2.82s ease both 1;
          animation: revealScaleUp 0.75s 2.82s ease both 1;
}

.t-block-teal {
  background-color: r;
}

.t-block-teal h2 {
  color: #fff;
}

.t-block-teal h3 {
  color: #034944;
}

.t-block-teal p {
  color: #034944;
}

.timeline-list li {
  margin: 0 0 3em 0;
  padding: 0 0.7em 0em 2em;
  position: relative;
}

.timeline-list li:before {
  content: "";
  position: absolute;
  top: 0px;
  left: -1.45em;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: none repeat scroll 0% 0% rgb(226, 102, 154);
  border: 5px solid #fff;
  -webkit-animation: revealScaleUp 0.75s 0s ease both 1;
          animation: revealScaleUp 0.75s 0s ease both 1;
}

.timeline-list {
  -webkit-animation: reveal 1s 0 ease both 1;
          animation: reveal 1s 0 ease both 1;
}

.timeline-list li .tContent {
  -webkit-animation: revealFromLeft 0.5s 0s ease both 1;
          animation: revealFromLeft 0.5s 0s ease both 1;
}

.timeline-list li:nth-child(1):before {
  -webkit-animation-delay: 0.85s;
          animation-delay: 0.85s;
}

.timeline-list li:nth-child(1) .tContent {
  -webkit-animation-delay: 1.05s;
          animation-delay: 1.05s;
}

.timeline-list li:nth-child(2):before {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.timeline-list li:nth-child(2) .tContent {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.timeline-list li:nth-child(3):before {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.timeline-list li:nth-child(3) .tContent {
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

.timeline-list li:nth-child(4):before {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.timeline-list li:nth-child(4) .tContent {
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
}

@-webkit-keyframes revealFromLeft {
  0% {
    -webkit-transform: translateX(-1em);
            transform: translateX(-1em);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes revealFromLeft {
  0% {
    -webkit-transform: translateX(-1em);
            transform: translateX(-1em);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes scaleVertical {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@keyframes scaleVertical {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
@-webkit-keyframes revealScaleUp {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes revealScaleUp {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.skill-p {
  text-align: left;
}

.changeColor > .react-sweet-progress-symbol {
  color: white;
}

.project {
  background-color: #292821;
  padding: 0;
}

.project-title {
  padding: 20px 20px 10px 20px;
  text-align: left;
  font-size: 25px;
  font-weight: bold;
}

.project-des {
  padding: 0px 20px 10px 20px;
  text-align: left;
  font-size: 16px;
}

.project-img {
  transition: 0.7s ease-in-out;
  max-width: 100%;
  min-height: 280px;
  max-height: 280px;
}

.prImg {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.project .view-work {
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 6px 16px;
  border-radius: 5px;
  text-decoration: none;
  box-sizing: border-box;
}

.prImg:hover .overly {
  opacity: 1;
}

.prImg:hover .project-img {
  opacity: 0.4;
  transform: scale(1.2);
}

.overly {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  box-sizing: border-box;
}

.contact-form {
  padding-right: 30px;
  box-sizing: border-box;
}

.contact-form > .inp-con {
  width: 100%;
  box-sizing: border-box;
}

.contact-form > .inp-con input, textarea {
  background-color: #161616;
  border: none;
  margin: 17px auto;
  padding: 12px;
  font-family: Candara;
  font-size: 17px;
  min-width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  color: #CCC;
}

.contact-list {
  list-style: none;
  text-align: left;
  padding-left: 0;
}

.contact-list li {
  display: flex;
}

.contact-list .cl-icon {
  text-align: center;
  padding: 20px;
  padding-left: 0;
  font-size: 30px;
  box-sizing: border-box;
  color: rgb(226, 102, 154);
}

.con-p {
  color: #ccc;
  text-align: left;
  padding-right: 40px;
}

.contact-list .cl-details {
  padding: 20px;
  margin-left: 5px;
  border-left: 2px solid #aaa;
  color: #ccc;
}

.contact-list .cl-details .cl-title {
  font-weight: bold;
  font-size: 18px;
  color: white;
}

@media all and (max-width: 650px) {
  .con-p, .contact-list {
    padding-left: 40px;
    padding-right: 40px;
  }
  .contact-form {
    margin-left: 40px;
    /* margin-right: 10px; */
  }
}

.contact-list li {
  margin: auto;
}